header {
  z-index: 9999; /* Đặt chỉ số z cao để header nằm trên các phần tử khác */
  display: flex; /* sử dụng Flexbox */
  align-items: center; /* căn giữa theo chiều dọc */
  justify-content: space-between; /* căn trái và phải */
  padding: 10px; /* khoảng cách đệm */
  height: 50px;
  border: 2px solid #ccc;
  border-radius: 10px;
  }
.logo-container img{
	width: 50px;
	height:100%;
}
.logo-container {
  width: 50px;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.title-container {
  flex: 2; /* tiêu đề chiếm 2 phần tỉ lệ của header */
  text-align: center;
}
.title-menu-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px; /* khoảng cách giữa các mục trong menu */
}

nav a {
  text-decoration: none; /* bỏ gạch chân cho các liên kết */
  color: black;
}
nav ul li a {
  font-size: 14px;
}
h1 {
  margin: 0;
  font-size: 40px;
  color: red;
}
h2 {
  text-indent: 36px; /* lùi vào 10px */
  position: absolute; /* đặt vị trí tuyệt đối */
  top: 90; /* đặt vị trí đầu tiên tại top */
}
main {
  display: flex;
  margin-top: 20px;
}
.image-container {
  position: relative; /* Thiết lập vị trí tương đối */
  flex-basis: 50%; /* Phần trăm chiếm của phần ảnh */
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Tạo đổ bóng với độ dày là 10px và màu sắc đen */
  }

.image-container img {
  width: 100%;
}

.content-container {
  flex: 1; /* Chiếm phần còn lại của main */
  padding: 20px; /* Khoảng cách đệm giữa content và viền */
}
p {
  text-align: justify;
  margin: 0;
  padding-left: 10px;
  text-indent: 30px; /* lùi vào 10px */
}
@media screen and (max-width: 1024px){#wrapper{ width: 100%;}}
@media screen and (max-width: 767px){}
@media screen and (max-width: 575px){}
@media screen and (max-width: 380px){}